.body {
    background-color: #212838;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}

.mainContainer {

    /* Debug  */
    height: 300px;
    border: red 1px solid;
    display: flex;
    margin-bottom: 800px; /*Só pra forçar o corpo a ocupar espaço da tela.*/

    /* Pra valer */
    background-color: #212838;
    width: 90%;  /* Makes the div take up 100% of the width of its parent (the screen or container) */
    height: auto; /* The height adjusts automatically based on the content inside */
    margin-top: 100px;
    display: flex;
    flex-direction: column;  /* Stacks the items vertically */
}

.title {
    color: white;
    font-size: 2.5em;
    margin: 0;
}

.lineThree {

}

.lineFour {

}