.body {
    background-color: #212838;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  
  .profileContainer {
    background-color: #2D374C;
    width: 80%;
    max-width: 1600px;
    border-radius: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    margin-right: 40px;
    border: 10px inset rgb(0, 0, 22);
    border-radius: 10px;
  }
  
  .userInfo {
    flex-grow: 1;
  }
  
  .username {
    font-size: 2em;
  }
  
  .location {
    display: flex;
    margin: 30px 0;
  }

  .location img {
    padding-right: 10px;
  }
  
  .editButton {
    background-color: #4F5B69;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editButton:hover {
    background-color: #3FA115;
  }
  
  .content {
    

    display: flex;
    gap: 20px;
  }
  
  .recentActivity {
    flex: 3;
    
    background-color: #171D26;
    padding: 0 30px;
  }
  
  .sectionTitle {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(160, 160, 160);
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
  }
  
  
  .onlineStatus {
    flex: 1;
    background-color: #3B4252;
    border-radius: 5px;
    padding: 10px;
  }

  .obtained,
  .obtainedGames {
    margin-left: 16px;
    font-size: 24px;
    font-weight: 600;
  }

  .obtainedGames:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .numberObtained {
    font-size: 32px;
    font-weight: 300;
    padding-left: 15px;
  }
  
  .friendList {
    margin-top: 10px;
  }
  
  .friendCard {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .friendAvatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .badgesSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  
  .badgesTitle {
    font-size: 1em;
    color: #89CFFD;
    margin-bottom: 10px;
  }
  
  .badgesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0px;
    padding-right: 0px;
    gap: 10px;
  }
  
  .badgeIcon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #3B4252;
    object-fit: cover;
  }

  .badge {
    font-size: 18px;
    font-weight: 300;
  }
  